{% extends "base_site.html" %}

{% block title %}{{ object.title }}{% endblock title %}

{% block content %}
  <div class="container">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          To Do
        </div>
        <div class="panel-body">
      <div class="panel panel-success">
        <div class="panel-heading">heading</div>
        <div class="panel-body">
          asdf
        </div>
      </div>
      <div class="panel panel-success">
        <div class="panel-heading">heading</div>
        <div class="panel-body">
          asdf
        </div>
      </div>
<div class="panel panel-success">
        <div class="panel-heading">heading</div>
        <div class="panel-body">
          asdf
        </div>
      </div>
<div class="panel panel-success">
        <div class="panel-heading">heading</div>
        <div class="panel-body">
          asdf
        </div>
      </div>
    </div>
    </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          In Progress
        </div>
        <div class="panel-body">
      <div class="panel panel-success">
        <div class="panel-heading">heading</div>
        <div class="panel-body">
          asdf
        </div>
      </div>
    </div>
    </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Completed
        </div>
        <div class="panel-body">
      <div class="panel panel-success">
        <div class="panel-heading">heading</div>
        <div class="panel-body">
          asdf
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>
{% endblock %}