{% extends "base_site.html" %}

{% block title %}
  {% if form.instance.id %}
    Edit Project
  {% else %}
    New Project
  {% endif %}
{% endblock %}

{% block javascripts %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <form method="POST">
          {% csrf_token %}
          <div class="x_title">
            <div class="form-group">
              {{ form.title.errors }}
              {{ form.title }}
            </div>
          </div>
          <div class="x_content">
            <div class="form-group textarea_primary">
              {{ form.content.errors }}
              {{ form.content }}
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
              <div class="input-group">
                {{ form.changelog }}
                <span class="input-group-btn">
                  <input type="submit" class="btn btn-default submit btn-unpad" value="Save"/>
                </span>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}