{% extends "base_site.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
  <div>
    <div class="row">
      <div class="x_panel">
        <table class="table">
          <thead>
            <tr>
              <th>Project</th>
              <th>Deadline</th>
            </tr>
          </thead>
          <tbody>
            {% for project in object_list %}
              <tr>
                <td>
                  {{ project.title }}
                </td>
                <td>
                  {{ project.deadline }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}