{% extends "base_site.html" %}
{% load avatar_tag %}
{% load guardian_tags %}
{% load static %}

{% block title %}{{ object.full_name }}{% endblock title %}

{% block content %}
  {% get_obj_perms request.user for object as "permissions" %}
  <div>
    <div class="page-title">
      <div class="title_left">
        <h3>
          {% if object.full_name %}
            {{ object.full_name }}
          {% else %}
            {{ object.username }}
          {% endif %}
        </h3>
      </div>
      <div class="title_right">
        <div class="btn-group pull-right ">
          {% if "change_account" in permissions %}
            <a href="">
              <button class="btn btn-sm btn-primary">
                <i class="fa fa-edit"></i> Update Profile
              </button>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="x_panel">
        <div class="x_content">
          <div class="col-sm-3 col-xs-12">
            <div class="text-center">
              {% avatar object 225 %}
            </div>
            <div>
              <ul class="list-unstyled user_data">
                {% if object.location %}
                  <li>
                    <span><i class="fa fa-map-marker text-center"></i></span>
                    <span>{{ object.location }}</span>
                  </li>
                {% endif %}
                {% if object.education %}
                  <li>
                    <span><i class="fa fa-graduation-cap text-center"></i></span>
                    <span>{{ object.education }}</span>
                  </li>
                {% endif %}
                {% if object.bio %}
                  <li>
                    <span><i class="fa fa-info-circle text-center"></i></span>
                    <span>{{ object.bio }}</span>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
          <div class="col-sm-9 col-xs-12">
            {% lorem 10 %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
