{% extends "base_site.html" %}

{% block title %}Pages{% endblock %}

{% block content %}
  <div class="">
    <div class="page-title">
      <div>
        <div class="" role="tabpanel">
          <ul class="nav nav-tabs bar_tabs left" role="tablist">
            <li role="presentation" class="active"><a href="#tab_all" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">All</a>
            </li>
            <li role="presentation" class=""><a href="#tab_recently_modified" role="tab" data-toggle="tab" aria-controls="Recently Modified" aria-expanded="false">Recently Modified</a>
            </li>
            <li role="presentation" class=""><a href="#tab_recently_viewed" role="tab" data-toggle="tab" aria-controls="Recently Viewed" aria-expanded="false">Recently Viewed</a>
            </li>
            <li role="presentation" class=""><a href="#tab_pinned" role="tab" data-toggle="tab" aria-controls="Favourited" aria-expanded="false">Pinned</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="tab-content">
        {% include "pages/tab.html" with list=object_list tab_id="tab_all" tab_aria_label="all-tab" active=True %}
        {% include "pages/tab.html" with list=recently_modified tab_id="tab_recently_modified" tab_aria_label="recently-modified-tab" %}
        {% include "pages/tab.html" with list=object_list tab_id="tab_recently_viewed" tab_aria_label="recently-viewed-tab" %}
        {% include "pages/tab.html" with list=object_list tab_id="tab_pinned" tab_aria_label="pinned-tab" %}
      </div>
    </div>
  </div>
{% endblock %}
