{% extends "base_site.html" %}

{% block content %}
  <div class="">
    <div class="page-title">
      <div class="col-md-8 col-sm-6">
        <div class="" role="tabpanel">
          <ul class="nav nav-tabs bar_tabs left" role="tablist">
            <li role="presentation" class="active"><a href="#tab_all" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">All</a>
            </li>
            <li role="presentation" class=""><a href="#tab_recently_modified" role="tab" data-toggle="tab" aria-controls="Recently Modified" aria-expanded="false">Recently Modified</a>
            </li>
            <li role="presentation" class=""><a href="#tab_recently_viewed" role="tab" data-toggle="tab" aria-controls="Recently Viewed" aria-expanded="false">Recently Viewed</a>
            </li>
            <li role="presentation" class=""><a href="#tab_pinned" role="tab" data-toggle="tab" aria-controls="Favourited" aria-expanded="false">Pinned</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="form-group top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"><span><i class="fa fa-search"></i></span></button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="tab-content">
        <div id="tab_all" class="tab-pane fade active in" aria-labelledby="all-tab">
          <div class="x_panel">
            <div class="x_title">
              <h2></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Last Modified</th>
                    <th>Author</th>
                  </tr>
                </thead>
                <tbody>

                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div id="tab_recently_modified" class="tab-pane fade" aria-labelledby="recently-modified-tab">
          <div class="x_panel">
            <div class="x_title">
              <h2></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Last Modified</th>
                    <th>Author</th>
                  </tr>
                </thead>
                <tbody>

                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div id="tab_recently_viewed" class="tab-pane fade" aria-labelledby="recently-viewed-tab">
          <div class="x_panel">
            <div class="x_title">
              <h2></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Last Modified</th>
                    <th>Author</th>
                  </tr>
                </thead>
                <tbody>

                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div id="tab_pinned" class="tab-pane fade" aria-labelledby="pinned-tab">
          <div class="x_panel">
            <div class="x_title">
              <h2></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Last Modified</th>
                    <th>Author</th>
                  </tr>
                </thead>
                <tbody>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
