{% extends "base_site.html" %}

{% block title %}{{ object.title }}{% endblock title %}

{% block content %}
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3></h3>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
              <h4>
                {{ object.title }}
              </h4>
            </div>
            <div class="x_content">
              {{ object.content }}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
