{% extends "base_site.html" %}
{% load static %}

{% block title %}{% endblock %}

{% block stylesheets %}
  {{ block.super }}
  <!-- bootstrap-daterangepicker -->
  <link href="{% static 'bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css' %}" rel="stylesheet"/>

{% endblock %}

{% block javascripts %}
  {{ block.super }}
  <script src="{% static 'moment/moment.js' %}"></script>
  <script src="{% static 'bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
  <script src="{% static 'orbit/js/meetings/meeting_form.js' %}"></script>
  {{ form.media }}
{% endblock %}

{% block content %}
  <form method="POST">
    {% csrf_token %}
    <div class="col-sm-3 col-xs-12">
      <div class="col-sm-12 col-xs-6">
        <div class="form-group text-center">
          <div class="input-group date center-block" id="startDateTimePicker">
            {{ form.start }}
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-xs-6">
        <div class="form-group text-center">
          <div class="input-group date center-block" id="endDateTimePicker">
            {{ form.end }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-xs-12">
      <div class="form-group">
        {{ form.title }}
      </div>
      <div class="form-group textarea-primary">
        {{ form.content }}
      </div>
      <div class="form-group">
          <input type="submit" class="btn btn-default pull-right" value="Save" />
      </div>
    </div>

  </form>
{% endblock %}
