{% extends "base_site.html" %}

{% block title %}Sign Up{% endblock title %}

{% block body_class %}authentication{% endblock body_class %}

{% block body %}
  <div class="registration_wrapper">
    {% for error in form.non_field_errors %}
      <div class="alert alert-error" role="alert">
        {{ error }}
      </div>
    {% endfor %}
    <section class="authentication_content">
      <form method="POST">
        {% csrf_token %}
        <h1>Create Account</h1>
        {% for field in form %}
          <div class="form-group {% if field.errors %}has-error{% endif %}">
            {% if field.errors %}
              <label class="control-label" for="{{ field.auto_id }}">{{ field.errors.as_text|cut:"* "}}</label>
            {% endif %}
            {{ field }}
          </div>
        {% endfor %}
        <div class="text-center">
          <input type="submit" class="btn btn-default submit" value="Sign Up" />
        </div>
        <div class="clearfix"></div>
        <div class="separator">
          <p class="change_link">Already a member ?
            <a href="{% url 'authentication:signin' %}" class="to_register"> Log in </a>
          </p>
          <div class="clearfix"></div>
        </div>
      </form>
    </section>
  </div>
{% endblock body %}
