<html lang="en">
    <head>
        {% block head %}
        {% block meta %}
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <!-- Meta, title, CSS, favicons, etc. -->
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock meta %}
        <title>Orbit | {% block title %}{% endblock title %}</title>
        {% block stylesheets %}
        {% endblock stylesheets %}
        {% endblock head %}
    </head>
    <body class="{% block body_class %}nav-md {% endblock body_class %}">
        {% block body %}
        {% block sidebar %}

        {% endblock sidebar %}
        {% block top_navigation %}

        {% endblock top_navigation %}
        {% block content %}

        {% endblock content %}
        {% block footer %}

        {% endblock footer %}
        {% block javascripts %}

        {% endblock javascripts %}
        {% endblock body %}
    </body>
</html>
