{% extends "base_site.html" %}
{% load static %}

{% block title %}{{ object.title }}{% endblock title %}

{% block content %}
  <div class="row">
    <div class="x_panel">
      <div class="x_title">
        <div>
          <h2>{{ object.title }}</h2>
        </div>
        <div class="btn-group pull-right">
          <a href="#">
            <button class="btn btn-sm btn-default" type="button"  data-placement="top" data-toggle="tooltip" data-original-title="Trash">
              <i class="fa fa-trash"></i>
            </button>
          </a>
          <a href="#">
            <button class="btn btn-sm btn-default" type="button"  data-placement="top" data-toggle="tooltip" data-original-title="Print">
              <i class="fa fa-print"></i>
            </button>
          </a>
          <a href="{{ object.get_absolute_history_url }}">
            <button class="btn btn-sm btn-default" type="button"  data-placement="top" data-toggle="tooltip" data-original-title="History">
              <i class="fa fa-history"></i>
            </button>
          </a>
          <a href="#">
            <button class="btn btn-sm btn-default" type="button"  data-placement="top" data-toggle="tooltip" data-original-title="Tag">
              <i class="fa fa-tag"></i>
            </button>
          </a>
          {% if object.is_removed %}
            <a>
              <button class="btn btn-sm btn-primary disabled">
                <i class="fa fa-edit"></i> Update
              </button>
            </a>
          {% else %}
            <a href="{% url 'events:update' pk=object.pk %}">
              <button class="btn btn-sm btn-primary">
                <i class="fa fa-edit"></i> Update
              </button>
            </a>
          {% endif %}
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="pull-right">
          <h4>
            <span class="label label-info" type="button"  data-placement="left" data-toggle="tooltip" data-original-title="{{ object.duration }} long">{{ object.display_date_time_range }}</span>
          </h4>
        </div>
        {{ object.content | safe }}
      </div>
    </div>
  </div>
{% endblock %}