{% extends "base_site.html" %}
{% load timediff_filter %}

{% block title %}Events{% endblock %}

{% block content %}
  <div class="">
    <div class="row">
      <div class="x_panel">
        <table class="table">
          <thead>
            <tr>
              <th class="col-xs-3 col-sm-2 text-center">
                <span>
                  <i class="fa fa-calendar" data-placement="top" data-toggle="tooltip" data-original-title="Date"></i>
                </span>
              </th>
              <th class="col-xs-7 col-sm-8">
                <span>
                  Event
                </span>
              </th>
              <th class="col-xs-1 text-center">
                <span>
                  <i class="fa fa-file-text" data-placement="top" data-toggle="tooltip" data-original-title="Notes"></i>
                </span>
              </th>
              <th class="col-xs-1 text-center">
                <span>
                  <i class="fa fa-user" data-placement="top" data-toggle="tooltip" data-original-title="Attendance"></i>
                </span>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for event in object_list %}
              <tr>
                <td>
                  <div class="text-center" data-placement="left" data-toggle="tooltip" data-original-title="{{ event.end|timediff }}">{{ event.display_date_range }}</div>
                </td>
                <td>
                  <div><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></div>
                </td>
                <td class="text-center">
                  <div>
                    <i class="fa fa-file-text-o"></i>
                  </div>
                </td>
                <td class="text-center">
                  <div>1/24</div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
